.card-body1{
    background-color: rgb(244, 244, 233);
    display: inline-block;
    border-radius: 10px;
    height: 160px;
}
.profile1{
    display: inline-block;
}
.profile1-img{
    height:150px;
    width: 120px;
}
.profile1-content{
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 10px;
}
.profile1-title{
    display: block;
}
.profile1-content .profile1-header{
    margin-top: 0;
    font-size: 20px;
}
.profile1-role{
    display: block;
}
.profile1-description{
    display: block;
}